p {
    color: blue;
    font-size: 18px;
}

/* 
Apa itu CSS? 
CSS merupakan script yang digunakan untuk mengatur tampilan suatu halaman website 
sehingga terlihat lebih cantik dan enak dipandnag mata 
*/